In [1]:
import pandas as pd
dfC = pd.read_csv('dc10.csv')
df = pd.read_csv('df10.csv')

In [2]:
dfC

,Unnamed: 0,proc_combos,pct_composition
0,18,98941@99212,5.592778e-03
1,30,98940@99212,3.452621e-03
2,79,99212,9.184727e-04
3,81,97014@98941@99212,8.643128e-04
4,101,98941@98943@99212,6.681587e-04
...,...,...,...
8903,89170,99212@S5000@S9999,1.403105e-07
8904,89171,99212@S8990@S8990@S8990,1.403105e-07
8905,89172,99212@S8990@S8990@S8990@S8990@S8990@S8990,1.403105e-07
8906,89173,99212@S8990@S8990@S8990@S8990@S8990@S8990@S899...,1.403105e-07
8907,89174,99212@S9982,1.403105e-07

In [3]:
df

,Unnamed: 0,hcpcs_code,mod_values,diag_values,place_of_service,pat_gender,age_bin,line_cnt,prov_cnt,specialty_id,pct_composition,pct_peers,Count,DrID,DrCount
0,435871,97032,None,M9901@M9902,11.0,F,Adult,1264,59,25,0.005677,0.000863,1,0,0.005677
1,442223,97032,None,M9903,11.0,F,Adult,1107,40,25,0.004972,0.000585,1,0,0.004972
2,442226,97032,None,M9903,11.0,M,Adult,1081,56,25,0.004856,0.000820,1,0,0.004856
3,434223,97032,None,M9901@M542,11.0,F,Adult,915,34,25,0.004110,0.000498,1,0,0.004110
4,432849,97032,None,M9901,11.0,F,Adult,915,56,25,0.004110,0.000820,1,0,0.004110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,430548,97032,None,M545@M9904@M542@M9903,11.0,F,Adult,25,3,25,0.000112,0.000044,1,199,0.000112
199996,437208,97032,None,M9901@M9902@S134XXA,11.0,F,Minor,25,2,25,0.000112,0.000029,1,199,0.000112
199997,427434,97032,None,M542@M62830,11.0,F,Adult,25,7,25,0.000112,0.000102,1,199,0.000112
199998,450926,97032,None,M9907,11.0,F,Adult,25,6,25,0.000112,0.000088,1,199,0.000112
199999,437928,97032,None,M9901@M9903@M9902@M9907,11.0,F,Adult,25,8,25,0.000112,0.000117,1,199,0.000112

In [4]:
dfCombos = pd.read_csv('proc_mod_diag_combos.csv')
dfCombos['proc_values'] = dfCombos['proc_values'].astype(str)
dfCombos['proc_sorted'] = dfCombos['proc_values'].str.split('@')
dfCombos['proc_sorted'] = dfCombos['proc_sorted'].apply(sorted)
dfCombos['proc_sorted'] = dfCombos['proc_sorted'].transform(lambda x: '@'.join(x))
dfCombos['proc_values'] = dfCombos['proc_sorted']

dfCombos['diag_values'] = dfCombos['diag_values'].astype(str)
dfCombos['diag_sorted'] = dfCombos['diag_values'].str.split('@')
dfCombos['diag_sorted'] = dfCombos['diag_sorted'].apply(sorted)
dfCombos['diag_sorted'] = dfCombos['diag_sorted'].transform(lambda x: '@'.join(x))
dfCombos['diag_values'] = dfCombos['diag_sorted']

In [5]:
dfCombos['mod_values'] = dfCombos['mod_values'].astype(str)
dfCombos = dfCombos[dfCombos['proc_values'].str.contains('97032')]
dfCombos = dfCombos[['claim_id', 'proc_values',
                     'diag_values', 'mod_values']].groupby(
    ['claim_id', 'proc_values', 'diag_values'])
dfCombos = dfCombos['mod_values'].apply(lambda x: '@'.join(x)).reset_index()

In [7]:
dfCombos['mod_sorted'] = dfCombos['mod_values'].str.split('@')
dfCombos['mod_sorted'] = dfCombos['mod_sorted'].apply(sorted)
dfCombos['mod_sorted'] = dfCombos['mod_sorted'].transform(lambda x: '@'.join(x))
dfCombos['mod_values'] = dfCombos['mod_sorted']
dfCombos = dfCombos.drop(['mod_sorted'], axis=1)

In [8]:
dfCombos

,claim_id,proc_values,diag_values,mod_values,mod_sorted
0,7695292,97032@98941,M9901@M9902@M9903,AT@nan,AT@nan
1,7695964,97032@98940,M5441@M5442@M9903@M9905,AT@nan,AT@nan
2,7697224,97032@98941,M9901@M9902@M9903@S233XXA,AT@nan,AT@nan
3,7697378,97032@98941,M9901@M9902@M9903@S134XXA,AT@nan,AT@nan
4,7697680,97032@98940@99202,M9901@M9902@M9903@M9905,25@AT@nan,25@AT@nan
...,...,...,...,...,...
221962,191157829,97032@98941,M9901@M9902@M9903,AT@nan,AT@nan
221963,191157830,97032@98941,M9901@M9902@M9903,AT@nan,AT@nan
221964,191157832,97032@98941,M9901@M9902@M9903,AT@nan,AT@nan
221965,191190211,97032@98941,M9903@M9905,AT@nan,AT@nan
221966,191190212,97032@98941,M9903@M9905,AT@nan,AT@nan

In [9]:
# dfCombos = dfCombos[dfCombos['proc_values'].str.contains('97032')]

In [10]:
dfCombos

         claim_id        proc_values                diag_values mod_values
0         7695292        97032@98941          M9901@M9902@M9903     AT@nan
1         7695964        97032@98940    M5441@M5442@M9903@M9905     AT@nan
2         7697224        97032@98941  M9901@M9902@M9903@S233XXA     AT@nan
3         7697378        97032@98941  M9901@M9902@M9903@S134XXA     AT@nan
4         7697680  97032@98940@99202    M9901@M9902@M9903@M9905  25@AT@nan
...           ...                ...                        ...        ...
221962  191157829        97032@98941          M9901@M9902@M9903     AT@nan
221963  191157830        97032@98941          M9901@M9902@M9903     AT@nan
221964  191157832        97032@98941          M9901@M9902@M9903     AT@nan
221965  191190211        97032@98941                M9903@M9905     AT@nan
221966  191190212        97032@98941                M9903@M9905     AT@nan

[221967 rows x 4 columns]

In [11]:
lngClaimCnt = len(dfCombos['claim_id'].unique())
# lngLineCnt = dfCombos.shape[0]
# dfComboCnts = dfCombos.groupby(['proc_values', 'mod_values', 'diag_values'], as_index=False).size()
# dfCombos = dfCombos.merge(dfComboCnts)

In [ ]:
# dfCombos['line_pct_composition'] = dfCombos['size']/lngLineCnt

In [ ]:
# dfCombos

In [12]:
dfClaimCnts = dfCombos[['proc_values', 'mod_values',
                        'diag_values', 'claim_id']].drop_duplicates().groupby(
    ['proc_values', 'mod_values', 'diag_values'], as_index=False).size()
dfClaimCnts

,proc_values,mod_values,diag_values,size
0,01200@01200@01200@97032@97032@97035@97035@9711...,59@AA@AA@AA@WJ@WJ@WJ@nan@nan@nan@nan@nan@nan@n...,M9906@S73101A,1
1,01200@01200@97032@97032@97035@97035@97110@9711...,AA@AA@WJ@WJ@nan@nan@nan@nan@nan@nan@nan@nan@nan,M9906@S73101A,1
2,01380@01380@01380@97010@97014@97014@97032@9703...,59@59@AA@AA@AA@WJ@WJ@WJ@nan@nan@nan@nan@nan@na...,M76891@M9906@S8391XA,1
3,1036F@97032@99202@G8417@G8427@G8730@G8783,25@nan,M25552@M62830@M62838@M9904,1
4,1036F@97032@99202@G8417@G8427@G8730@G8783,nan@nan@nan@nan@nan,M25552,1
...,...,...,...,...
59089,97032@S8990,GA@nan,M542@M792@M9901@M9902,1
59090,97032@S9999,nan,M5431@M62830@M9901@M9903,1
59091,97032@S9999,nan,M5442@M62830@M9902@M9904,1
59092,97032@S9999,nan,M9903,1
59093,97032@S9999,nan,M9904,1

In [13]:
dfClaimCnts.sort_values('size')

,proc_values,mod_values,diag_values,size
0,01200@01200@01200@97032@97032@97035@97035@9711...,59@AA@AA@AA@WJ@WJ@WJ@nan@nan@nan@nan@nan@nan@n...,M9906@S73101A,1
33529,97032@97110@97140@98941@98943@99213,nan,M546@M62830@M791,1
33530,97032@97110@97140@98941@98943@99213,nan,M62830@M9901@M9903@M9905,1
33531,97032@97110@97140@98941@98943@99213,nan,M7541,1
33532,97032@97110@97140@98941@98943@99213,nan,M9901@M9903@M9905,1
...,...,...,...,...
51185,97032@98941,AT@nan,M9901@M9902@M9903@S336XXA,1403
51167,97032@98941,AT@nan,M9901@M9902@M9903@M9904,1510
51398,97032@98941,AT@nan,S13100A@S161XXA@S29012A@S39012A,1916
51166,97032@98941,AT@nan,M9901@M9902@M9903,1941
50817,97032@98941,AT@nan,M542@M9901@M9902@M9903,2383

In [14]:
dfCombos = dfCombos.merge(dfClaimCnts.rename(columns={'size': 'claim_size'}))
dfCombos['claim_pct_composition'] = dfCombos['claim_size']/lngClaimCnt
dfCombos

,claim_id,proc_values,diag_values,mod_values,claim_size,claim_pct_composition
0,7695292,97032@98941,M9901@M9902@M9903,AT@nan,1941,0.010303
1,7715858,97032@98941,M9901@M9902@M9903,AT@nan,1941,0.010303
2,7715859,97032@98941,M9901@M9902@M9903,AT@nan,1941,0.010303
3,7715860,97032@98941,M9901@M9902@M9903,AT@nan,1941,0.010303
4,7723406,97032@98941,M9901@M9902@M9903,AT@nan,1941,0.010303
...,...,...,...,...,...,...
221962,190768988,97032@98941,M25572@M9901@M9902@M9906,AT@nan,1,0.000005
221963,190872714,97032@98941,M25561@M9901@M9902@M9904,AT@nan,3,0.000016
221964,190872715,97032@98941,M25561@M9901@M9902@M9904,AT@nan,3,0.000016
221965,190872717,97032@98941,M25561@M9901@M9902@M9904,AT@nan,3,0.000016
221966,191009415,97032@98940@99211,M545@M62830@M9902@M9904,25@AT@GP,1,0.000005

In [15]:
dfCombos['synthetic_claims'] = dfCombos['claim_pct_composition']*df.shape[0]

In [16]:
# dfProcCombos = dfProcCombos.drop_duplicates(subset=['proc_values'])
dfCombos

,claim_id,proc_values,diag_values,mod_values,claim_size,claim_pct_composition,synthetic_claims
0,7695292,97032@98941,M9901@M9902@M9903,AT@nan,1941,0.010303,2060.695498
1,7715858,97032@98941,M9901@M9902@M9903,AT@nan,1941,0.010303,2060.695498
2,7715859,97032@98941,M9901@M9902@M9903,AT@nan,1941,0.010303,2060.695498
3,7715860,97032@98941,M9901@M9902@M9903,AT@nan,1941,0.010303,2060.695498
4,7723406,97032@98941,M9901@M9902@M9903,AT@nan,1941,0.010303,2060.695498
...,...,...,...,...,...,...,...
221962,190768988,97032@98941,M25572@M9901@M9902@M9906,AT@nan,1,0.000005,1.061667
221963,190872714,97032@98941,M25561@M9901@M9902@M9904,AT@nan,3,0.000016,3.185001
221964,190872715,97032@98941,M25561@M9901@M9902@M9904,AT@nan,3,0.000016,3.185001
221965,190872717,97032@98941,M25561@M9901@M9902@M9904,AT@nan,3,0.000016,3.185001
221966,191009415,97032@98940@99211,M545@M62830@M9902@M9904,25@AT@GP,1,0.000005,1.061667

In [ ]:
# dfCombos['lines_to_claims_ratio'] = dfCombos['size']/dfCombos['claim_size']
# dfCombos

In [ ]:
# dfCombos['synthetic_claims'] = dfCombos['synthetic_lines']/dfCombos['lines_to_claims_ratio']
# dfCombos

In [19]:
dfCombos = dfCombos.drop_duplicates(subset=['proc_values', 'mod_values', 'diag_values'])

In [20]:
dfCombos[dfCombos['proc_values'] == '97032@98941']

,claim_id,proc_values,diag_values,mod_values,claim_size,claim_pct_composition,synthetic_claims
0,7695292,97032@98941,M9901@M9902@M9903,AT@nan,1941,0.010303,2060.695498
1942,7697224,97032@98941,M9901@M9902@M9903@S233XXA,AT@nan,526,0.002792,558.436802
2468,7697378,97032@98941,M9901@M9902@M9903@S134XXA,AT@nan,1261,0.006694,1338.761990
3762,7699811,97032@98941,M546@M9901@M9902@M9903,AT@nan,533,0.002829,565.868470
4295,7703224,97032@98941,M50320@M5136@M9901@M9902,AT@nan,35,0.000186,37.158342
...,...,...,...,...,...,...,...
221907,190253539,97032@98941,M5416@M5417@M9903@M9904,59@nan,1,0.000005,1.061667
221929,190363465,97032@98941,M9901@M9902@M9903@M9904,52@nan,1,0.000005,1.061667
221937,190410148,97032@98941,M4605@M62830@M9901@M9903,nan@nan,1,0.000005,1.061667
221962,190768988,97032@98941,M25572@M9901@M9902@M9906,AT@nan,1,0.000005,1.061667
221963,190872714,97032@98941,M25561@M9901@M9902@M9904,AT@nan,3,0.000016,3.185001

In [ ]:
dfCombos[dfCombos['claim_id'] == 116797056]

In [ ]:
df

In [ ]:
import numpy as np
np.repeat(dfCombos.drop_duplicates(subset='proc_values')['proc_values'],
          dfCombos.drop_duplicates(subset='proc_values')['synthetic_claims'])