In [1]:
!pip install PyGreSQL
# !pip install nbimporter

Requirement already satisfied: PyGreSQL in /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages (5.2.2)
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/tensorflow_p36/bin/python -m pip install --upgrade pip' command.

In [2]:
import os
import csv
import pgdb
import pickle
import zipfile
# import nbimporter
import numpy as np
import pandas as pd
import scipy
# import ProviderPredictionScript

from matplotlib import pyplot as plt
from sklearn.decomposition import PCA
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.multioutput import MultiOutputClassifier

In [3]:
### How many providers do we want to synthesize?

## User defined for each specialty
num_providers = 1000

In [4]:
### Probability of number of claims per provider

### We'll eventually bring inference (of number of claims for each provider) from all customers for each specialty.

### Based on MonteCarlo simulation from the empirical data
num_claims_df = pd.read_csv('num_claims_df.csv')


num_iter = 100000
num_claims_avg_lst = []
for ii in range(0, num_iter):
    num_claims_avg_lst.append(round(num_claims_df.sample(round(0.1*len(num_claims_df))).num_claims.mean()))
dist_mean = np.round(np.mean(num_claims_avg_lst))
dist_std = np.round(np.std(num_claims_avg_lst))
group = [int(round(x)) for x in np.random.normal(loc=dist_mean, scale=3*dist_std,size=num_providers)]
scipy.stats.describe(group)

DescribeResult(nobs=1000, minmax=(49, 231), mean=134.661, variance=923.5456246246247, skewness=0.038752944155496356, kurtosis=-0.056853546854489956)

In [5]:
group

[98,
 140,
 107,
 83,
 121,
 146,
 139,
 134,
 100,
 134,
 128,
 114,
 94,
 138,
 168,
 132,
 192,
 94,
 118,
 95,
 97,
 98,
 168,
 113,
 138,
 84,
 136,
 82,
 157,
 113,
 111,
 183,
 134,
 141,
 142,
 122,
 128,
 130,
 154,
 87,
 123,
 116,
 131,
 156,
 50,
 78,
 182,
 111,
 144,
 141,
 124,
 185,
 108,
 90,
 161,
 106,
 87,
 120,
 179,
 152,
 182,
 109,
 120,
 108,
 117,
 157,
 182,
 148,
 94,
 148,
 163,
 98,
 189,
 113,
 136,
 130,
 169,
 110,
 96,
 184,
 139,
 162,
 161,
 94,
 117,
 84,
 124,
 131,
 148,
 124,
 102,
 115,
 151,
 141,
 93,
 77,
 108,
 126,
 153,
 99,
 77,
 140,
 118,
 148,
 131,
 159,
 187,
 126,
 138,
 169,
 188,
 146,
 154,
 133,
 111,
 129,
 148,
 123,
 134,
 164,
 111,
 166,
 103,
 107,
 145,
 106,
 166,
 150,
 125,
 192,
 137,
 164,
 171,
 229,
 128,
 151,
 123,
 120,
 140,
 186,
 131,
 113,
 156,
 158,
 171,
 158,
 137,
 137,
 171,
 117,
 134,
 168,
 78,
 111,
 106,
 107,
 113,
 183,
 129,
 189,
 124,
 162,
 110,
 134,
 143,
 154,
 212,
 151,
 138,
 114,
 132,
 148,
 121,
 149,
 126,
 181,
 99,
 114,
 98,
 155,
 171,
 89,
 174,
 165,
 147,
 88,
 103,
 135,
 118,
 138,
 145,
 148,
 128,
 154,
 138,
 144,
 141,
 128,
 162,
 106,
 56,
 193,
 149,
 134,
 151,
 86,
 146,
 150,
 95,
 146,
 98,
 134,
 173,
 165,
 98,
 129,
 210,
 114,
 66,
 146,
 138,
 132,
 174,
 128,
 122,
 135,
 138,
 172,
 152,
 105,
 152,
 137,
 107,
 131,
 104,
 109,
 133,
 190,
 146,
 113,
 154,
 110,
 171,
 110,
 156,
 130,
 140,
 88,
 144,
 114,
 164,
 129,
 211,
 113,
 137,
 124,
 109,
 184,
 126,
 153,
 158,
 118,
 179,
 71,
 132,
 132,
 191,
 147,
 147,
 135,
 108,
 95,
 117,
 137,
 100,
 176,
 142,
 150,
 116,
 50,
 166,
 120,
 89,
 59,
 120,
 117,
 147,
 115,
 106,
 175,
 142,
 133,
 124,
 133,
 119,
 123,
 55,
 121,
 153,
 168,
 97,
 125,
 92,
 104,
 112,
 106,
 137,
 132,
 166,
 163,
 170,
 108,
 161,
 150,
 145,
 106,
 100,
 133,
 115,
 151,
 111,
 165,
 117,
 146,
 113,
 150,
 98,
 162,
 135,
 117,
 173,
 121,
 217,
 105,
 109,
 123,
 153,
 157,
 160,
 133,
 185,
 150,
 117,
 150,
 89,
 151,
 159,
 94,
 142,
 178,
 173,
 157,
 211,
 147,
 206,
 139,
 130,
 136,
 122,
 123,
 115,
 166,
 120,
 129,
 197,
 122,
 183,
 133,
 119,
 150,
 160,
 156,
 96,
 172,
 165,
 129,
 116,
 171,
 115,
 141,
 107,
 153,
 153,
 172,
 118,
 136,
 160,
 164,
 134,
 147,
 73,
 148,
 145,
 80,
 146,
 117,
 140,
 132,
 139,
 82,
 137,
 108,
 143,
 99,
 111,
 171,
 198,
 164,
 163,
 152,
 158,
 148,
 140,
 152,
 126,
 159,
 112,
 98,
 80,
 116,
 163,
 115,
 146,
 94,
 103,
 86,
 129,
 164,
 79,
 133,
 148,
 136,
 151,
 118,
 161,
 123,
 87,
 159,
 90,
 126,
 133,
 146,
 172,
 152,
 164,
 169,
 137,
 166,
 56,
 112,
 160,
 155,
 150,
 146,
 155,
 134,
 105,
 167,
 84,
 122,
 139,
 131,
 118,
 118,
 144,
 176,
 100,
 220,
 129,
 115,
 157,
 97,
 154,
 97,
 116,
 149,
 118,
 133,
 148,
 98,
 150,
 165,
 140,
 130,
 140,
 135,
 134,
 90,
 167,
 135,
 69,
 145,
 158,
 159,
 192,
 186,
 155,
 125,
 117,
 132,
 182,
 70,
 141,
 193,
 181,
 165,
 118,
 121,
 170,
 157,
 117,
 132,
 147,
 106,
 102,
 161,
 151,
 152,
 213,
 109,
 165,
 166,
 184,
 120,
 144,
 119,
 155,
 166,
 149,
 139,
 113,
 106,
 123,
 98,
 65,
 170,
 112,
 127,
 72,
 170,
 152,
 115,
 220,
 116,
 82,
 89,
 184,
 94,
 103,
 177,
 160,
 181,
 126,
 119,
 98,
 145,
 87,
 98,
 149,
 125,
 183,
 139,
 113,
 120,
 150,
 167,
 125,
 141,
 174,
 115,
 148,
 158,
 202,
 84,
 164,
 160,
 167,
 133,
 137,
 102,
 127,
 116,
 128,
 71,
 149,
 161,
 165,
 92,
 117,
 173,
 101,
 118,
 77,
 137,
 86,
 100,
 183,
 118,
 148,
 120,
 153,
 49,
 89,
 137,
 125,
 85,
 87,
 125,
 63,
 137,
 107,
 123,
 97,
 150,
 131,
 141,
 105,
 125,
 163,
 129,
 142,
 140,
 115,
 122,
 201,
 108,
 84,
 141,
 152,
 113,
 169,
 189,
 127,
 164,
 78,
 142,
 180,
 150,
 119,
 159,
 170,
 188,
 142,
 144,
 124,
 119,
 109,
 110,
 144,
 141,
 125,
 132,
 117,
 110,
 138,
 120,
 132,
 142,
 144,
 149,
 79,
 135,
 126,
 101,
 143,
 154,
 127,
 110,
 184,
 153,
 113,
 231,
 117,
 163,
 123,
 149,
 120,
 119,
 133,
 110,
 143,
 103,
 142,
 152,
 178,
 136,
 94,
 180,
 94,
 121,
 82,
 82,
 105,
 177,
 85,
 130,
 139,
 145,
 70,
 131,
 166,
 127,
 95,
 175,
 98,
 137,
 153,
 96,
 169,
 106,
 140,
 193,
 162,
 127,
 173,
 136,
 114,
 160,
 168,
 159,
 135,
 116,
 117,
 115,
 157,
 207,
 128,
 199,
 136,
 162,
 109,
 139,
 128,
 190,
 141,
 174,
 114,
 137,
 78,
 142,
 96,
 131,
 179,
 99,
 147,
 101,
 140,
 157,
 150,
 131,
 138,
 99,
 145,
 87,
 100,
 101,
 129,
 108,
 134,
 166,
 148,
 132,
 106,
 144,
 138,
 160,
 147,
 159,
 179,
 106,
 134,
 138,
 145,
 153,
 116,
 169,
 127,
 88,
 155,
 174,
 99,
 168,
 108,
 166,
 108,
 164,
 168,
 106,
 182,
 109,
 123,
 97,
 154,
 129,
 178,
 178,
 113,
 189,
 177,
 138,
 173,
 121,
 149,
 174,
 128,
 148,
 133,
 138,
 176,
 165,
 159,
 179,
 138,
 132,
 82,
 107,
 168,
 73,
 173,
 63,
 101,
 136,
 209,
 160,
 145,
 102,
 81,
 137,
 124,
 149,
 149,
 130,
 107,
 174,
 143,
 131,
 141,
 118,
 168,
 161,
 169,
 175,
 176,
 98,
 120,
 177,
 103,
 140,
 156,
 81,
 92,
 141,
 171,
 100,
 142,
 107,
 145,
 156,
 155,
 51,
 145,
 144,
 99,
 150,
 155,
 108,
 134,
 194,
 96,
 143,
 65,
 126,
 144,
 152,
 161,
 127,
 147,
 107,
 115,
 137,
 125,
 158,
 120,
 124,
 143,
 131,
 99,
 118,
 109,
 118,
 82,
 165,
 175,
 128,
 110,
 113,
 202,
 175,
 113,
 204,
 103,
 164,
 151,
 148,
 102,
 95,
 156,
 201,
 116,
 131,
 146,
 180,
 105,
 163,
 129,
 172,
 163,
 134,
 176,
 139,
 163,
 136,
 164,
 122,
 176,
 115,
 124,
 131,
 131,
 83,
 113,
 97,
 170,
 135,
 154,
 91,
 126,
 165,
 123,
 113,
 117,
 135,
 156,
 158,
 138,
 103,
 174,
 114,
 125,
 135,
 167,
 145,
 126,
 180,
 97,
 117,
 205,
 152,
 144,
 137,
 151,
 61,
 168,
 135,
 118,
 175,
 136,
 126,
 143,
 104,
 157,
 100,
 129,
 126,
 131,
 138,
 140,
 122,
 110,
 99,
 119,
 110,
 121,
 86,
 85,
 131,
 101,
 132,
 132,
 106,
 147,
 119,
 197,
 116,
 169,
 101,
 126,
 155,
 129,
 139]

In [6]:
### Determine probability of different combinations 
### We'll eventually bring inference (of number of claims for each combination) from all customers for each specialty.
all_combinations = pd.read_csv('all_combinations.csv')
sel_combinations = all_combinations[all_combinations.prob_claims>=0.01]

In [7]:
## Unique combinations and corresponding weights
comb_list = sel_combinations.drop(['num_claims', 'prob_claims'], axis = 1).values
weights = sel_combinations['prob_claims'].tolist()

In [8]:
weights

[0.01996026935043309,
 0.011276493185901465,
 0.02120915557762814,
 0.01465798045602606,
 0.019405208805013074,
 0.01882093454667621,
 0.010845590920378026,
 0.014285505616336309,
 0.04288573056192577,
 0.013029315960912051,
 0.011093907480171193,
 0.015746191262178466,
 0.026883919311724926,
 0.012335490279137029,
 0.011123121193088037,
 0.02031083390543521,
 0.031112604256437974,
 0.036772761134076334,
 0.0955726618074524,
 0.11689867223674795,
 0.022772089218679247,
 0.018207446575422503,
 0.011816946874863059,
 0.016169790099472694,
 0.012240545712157288,
 0.016082148960722163,
 0.022940068067951097,
 0.012963585106849154,
 0.015234951286133709,
 0.010115248097456946,
 0.028132805538919968,
 0.04085537751420517,
 0.025313682242444603,
 0.052847606666569284,
 0.06675333401498662,
 0.010297833803187216,
 0.010495026365375908,
 0.010348957800791692,
 0.02717605644089336,
 0.03816041249762639,
 0.010458509224229851,
 0.01311695709966258,
 0.019317567666262542,
 0.02289624749857583,
 0.02887775521829947,
 0.03109069397175034,
 0.01643271351572428,
 0.10934692744774398,
 0.024999634828588538,
 0.01653496151093323,
 0.021924891544090795,
 0.01974116650355677,
 0.03382947955770438,
 0.07959276084193921,
 0.015315288996655031,
 0.04945151253998627,
 0.011941105154759643,
 0.018725989979696468,
 0.013109653671433371,
 0.0191568922452199,
 0.04149077577014651,
 0.01328493594893443,
 0.019522063656680445,
 0.02611705934765779,
 0.026883919311724926,
 0.08826193015001242,
 0.015081579293320284,
 0.02352434232628796,
 0.02109230072596076,
 0.2555469537400856,
 0.06766626254363799,
 0.038255357064606116,
 0.01777654430989907,
 0.07547362732066433,
 0.056353252216590474,
 0.09782942113027857,
 0.20624881319291274,
 0.033157564160616985,
 0.015826528972699785,
 0.02781145469683469,
 0.029264836914447638,
 0.014285505616336309,
 0.015169220432070812,
 0.024240078292750617,
 0.018236660288339347,
 0.02519682739077723,
 0.07087246753626153,
 0.0139422444895634,
 0.016023721534888475,
 0.011926498298301223,
 0.01998217963512073,
 0.012028746293510173,
 0.023363666905245318,
 0.05536728940564701,
 0.010531543506521959,
 0.02339288061816216,
 0.018572617986883044,
 0.014154043908210512,
 0.010911321774440923,
 0.010874804633294868,
 0.014972027869882125]

In [9]:
import random  
final_df_list = []
random_outliers = random.sample(range(0, num_providers), int(round(0.01*num_providers)))
for ii in range(0, num_providers):
    if ii in random_outliers:
        tmp = pd.DataFrame(random.choices(comb_list, random.shuffle(weights), k=group[ii]), 
                       columns = sel_combinations.drop(['num_claims', 'prob_claims'], axis = 1).columns)
    else:
        tmp = pd.DataFrame(random.choices(comb_list, weights, k=group[ii]), 
                       columns = sel_combinations.drop(['num_claims', 'prob_claims'], axis = 1).columns)
    tmp['ren_id'] = 'prov_' + str(ii)
    tmp['prov_claim_id'] = ['claim_' + str(x) for x in range(0, group[ii])]
    final_df_list.append(tmp)
final_df = pd.concat(final_df_list)

In [10]:
final_df

,proc_values,place_of_service,pat_gender,diag_values,mod_values,ren_id,prov_claim_id
0,90837,22,F,F4322,WD@95,prov_0,claim_0
1,90837,22,M,F4320,WD@GT,prov_0,claim_1
2,90837,22,F,F411,WD@95,prov_0,claim_2
3,90837,30,None,F4325,WD,prov_0,claim_3
4,90837,30,F,F4323,WD,prov_0,claim_4
...,...,...,...,...,...,...,...
134,90834,30,None,F411,WD,prov_999,claim_134
135,90837,22,F,F411,WD,prov_999,claim_135
136,90837,30,F,F331,WD,prov_999,claim_136
137,90837,30,F,F332,WD,prov_999,claim_137
138,90837,22,M,F411,WD@95,prov_999,claim_138

In [11]:
final_df[final_df['ren_id'] == 'prov_0']

,proc_values,place_of_service,pat_gender,diag_values,mod_values,ren_id,prov_claim_id
0,90837,22,F,F4322,WD@95,prov_0,claim_0
1,90837,22,M,F4320,WD@GT,prov_0,claim_1
2,90837,22,F,F411,WD@95,prov_0,claim_2
3,90837,30,None,F4325,WD,prov_0,claim_3
4,90837,30,F,F4323,WD,prov_0,claim_4
...,...,...,...,...,...,...,...
93,90837,22,F,F411,WD@GT,prov_0,claim_93
94,90837,30,None,F411,WD,prov_0,claim_94
95,90837,30,None,F411,WD,prov_0,claim_95
96,90837,30,None,F411,WD,prov_0,claim_96
97,90837@90837,30,None,F331,WD,prov_0,claim_97

In [12]:
final_df

,proc_values,place_of_service,pat_gender,diag_values,mod_values,ren_id,prov_claim_id
0,90837,22,F,F4322,WD@95,prov_0,claim_0
1,90837,22,M,F4320,WD@GT,prov_0,claim_1
2,90837,22,F,F411,WD@95,prov_0,claim_2
3,90837,30,None,F4325,WD,prov_0,claim_3
4,90837,30,F,F4323,WD,prov_0,claim_4
...,...,...,...,...,...,...,...
134,90834,30,None,F411,WD,prov_999,claim_134
135,90837,22,F,F411,WD,prov_999,claim_135
136,90837,30,F,F331,WD,prov_999,claim_136
137,90837,30,F,F332,WD,prov_999,claim_137
138,90837,22,M,F411,WD@95,prov_999,claim_138

providers area is alphereta with further away having fewer paitients<br>
<b>work on cost </b><br>
send me a sample members file ecuding phi using age to randomize the date

In [13]:
a = []
for index, row in final_df.iterrows():  
    b = (row['proc_values'].split("@")+ row["mod_values"].split("@"))
    b.sort()
    b = [str(x) for x in b]
    b = "@".join(b)
    a.append(b)
    
final_df["combo"] = a

In [14]:
final_df

,proc_values,place_of_service,pat_gender,diag_values,mod_values,ren_id,prov_claim_id,combo
0,90837,22,F,F4322,WD@95,prov_0,claim_0,90837@95@WD
1,90837,22,M,F4320,WD@GT,prov_0,claim_1,90837@GT@WD
2,90837,22,F,F411,WD@95,prov_0,claim_2,90837@95@WD
3,90837,30,None,F4325,WD,prov_0,claim_3,90837@WD
4,90837,30,F,F4323,WD,prov_0,claim_4,90837@WD
...,...,...,...,...,...,...,...,...
134,90834,30,None,F411,WD,prov_999,claim_134,90834@WD
135,90837,22,F,F411,WD,prov_999,claim_135,90837@WD
136,90837,30,F,F331,WD,prov_999,claim_136,90837@WD
137,90837,30,F,F332,WD,prov_999,claim_137,90837@WD
138,90837,22,M,F411,WD@95,prov_999,claim_138,90837@95@WD

In [15]:
cost = pd.read_csv("amt_df.csv")

cost

,proc_values,diag_values,mod_values,place_of_service,pat_gender,amount_charged,amount_paid
0,90834@90834,F4322,WD,30,None,100.0,94.95
1,90837,F4325,WD,30,None,110.0,67.28
2,90837,F4310,WD,30,None,110.0,89.70
3,90837@90837@90791@90837@90837@90837,F329,WD,30,None,100.0,89.70
4,90837@90837@90837@90837@90837@90837@90837@9083...,F341,WD,30,None,130.0,89.70
...,...,...,...,...,...,...,...
1370057,90837@90837@90837@90837@90837@90837@90837@9083...,F341,WD,30,M,150.0,0.00
1370058,90837@90837,F4312,WD@GT,22,F,120.0,109.00
1370059,90837,F419,WD,30,M,175.0,0.00
1370060,90834@90834@90834@90834@90834@90834@90834@9083...,F411,WD@95:WD@95:WD@95,22,F,300.0,0.00
1370061,90834@90834@90834,F411,WD@95,22,F,100.0,0.00

In [ ]:
a = []
for index, row in cost.iterrows():  
    b = (row['proc_values'].split("@")+ row["mod_values"].split("@"))
    b.sort()
    b = [str(x) for x in b]
    b = "@".join(b)
    a.append(b)
    
cost["combo"] = a
cost = cost.drop(columns=['diag_values', 'place_of_service',"pat_gender", "mod_values", "proc_values"])
cost.head()

In [ ]:
c = cost.groupby(['combo'])['amount_charged'].sum()#["combo"].size()
c = c.reset_index()
e = cost.groupby(['combo'])['amount_charged'].size()
e = e.reset_index()
c["count"] = e["amount_charged"]
c["avg_charge"] = c["amount_charged"]/ c["count"]


d = cost.groupby(['combo'])['amount_paid'].sum()#["combo"].size()
d = d.reset_index()
e = cost.groupby(['combo'])['amount_paid'].size()
e = e.reset_index()
d["count"] = e["amount_paid"]
d["avg_paid_pct"] = (d["amount_paid"]/ d["count"])/c["amount_charged"]
#d.to_csv("d.csv")
d

In [ ]:
c

In [ ]:
scb = 50#may want to change scale so that it is more in line with reality
sca = 4

cost_dict = cost.set_index('combo').to_dict()
final_df['cost'] = final_df['combo'].apply(lambda x: cost_dict["amount_charged"][x])
final_df['real charge'] = np.random.normal(final_df['cost'], scale = scb).astype(int)
final_df = final_df.drop(columns=['cost'])



paid_dict = c.set_index('combo').to_dict()
#final_df['cost'] = final_df['combo'].apply(lambda x: cost_dict["amount_charged"][x])
final_df['real paid'] = np.random.normal(final_df['real charge']*.8, scale = sca).astype(int)
#final_df = final_df.drop(columns=['cost'])
final_df
final_df
final_df.to_csv("final.csv")
final_df